html, body {
    background-color: #111;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
}

body {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid #222;
    box-sizing: border-box;
}

.app {
    width: 500px;
    height: 500px;
    border: 1px solid lighten(#111, 8%);
    border-radius: 5px;
    margin: 0 auto;
    background-color: lighten(#111, 1%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.codeviewer {
    width: 90%;
    height: 90%;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}
